{
  "root": true,
  "env": {
    "node": true
  },
  "extends": ["eslint:recommended", "airbnb-base"],
  "rules": { 
    "import/no-unresolved": "off",
    "import/extensions": "off"
  },
  "parser": "babel-eslint",
  "parserOptions": {
    "sourceType": "module",
    "allowImportExportEverywhere": true
  },
  "skipBlankLines": true,
  "ignoreComments": true
}
